<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Get the most dominant colors in an image</h1>
    <form action="{{ url_for('home') }}" id="send_image" method="post" enctype="multipart/form-data">
        <label for="no_colors">How many colors do you want?</label>
        <input type="text" name="no_colors" id="no_colors"><br>
        <label for="img">Select image: </label>
        <input type="file" name="img" id="img" accept="image/*"><br>
        <input type="submit" value="Submit">
    </form>
    {% for color in colors %}
    <div class="color" style="background-color: {{color}}"><p>{{color}}</p></div>
    {% endfor %}
    <img src={{image}} alt="image">
    
</body>
</html>
